# Ethiopian Multiplication

In [4]:
number_input = input("tow numbers with space like 1, 6:  ")
number = str(number_input).split(',') 

num1 = int(number[0])
num2 = int(number[1]) 

result = 0
while num1 >=1:
    if num1 % 2 == 0: 
        print( "%6d, %6d struck" % ( num1, num2)) 
    else: 
        print( "%6d, %6d keep" % (num1, num2))
        result = result + num2
        
    num1 = num1 //2
    num2 = num2 * 2

print("The result is ", result)

tow numbers with space like 1, 6:  256, 23
   256,     23 struck
   128,     46 struck
    64,     92 struck
    32,    184 struck
    16,    368 struck
     8,    736 struck
     4,   1472 struck
     2,   2944 struck
     1,   5888 keep
The result is  5888

In [7]:
facamp = 'fastcampus'
facamp

'fastcampus'

In [8]:
facamp.join(",")

','

In [17]:
",".join(facamp)

'f,a,s,t,c,a,m,p,u,s'

In [15]:
",".join(facamp).split(',')

['f', 'a', 's', 't', 'c', 'a', 'm', 'p', 'u', 's']

In [18]:
facamp_tuple = tuple( ",".join(facamp).split(',') )

In [19]:
facamp_tuple

('f', 'a', 's', 't', 'c', 'a', 'm', 'p', 'u', 's')

In [20]:
facamp

'fastcampus'

In [21]:
tuple(facamp)

('f', 'a', 's', 't', 'c', 'a', 'm', 'p', 'u', 's')

In [23]:
int(["1", "2"])

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [28]:
numbers = str(input("tow numbers with comma :")).split(',')

result = 0
display = '0'
num1 = int(numbers[0])
num2 = int(numbers[1])

while num1 >= 1:
    if num1 % 2 != 0 : 
        display = display + " + " + str(num2)
        result = result + num2
        print(num1,"   ", num2, "   num2를 더해: ", display, " = ", result)        
    else: 
        print(num1, "   ",num2, "   num2를 버려") 

    num1 = num1 //2
    num2 = num2 * 2
    
print("Result = ", result)

tow numbers with comma :234, 562
234     562    num2를 버려
117     1124    num2를 더해:  0 + 1124  =  1124
58     2248    num2를 버려
29     4496    num2를 더해:  0 + 1124 + 4496  =  5620
14     8992    num2를 버려
7     17984    num2를 더해:  0 + 1124 + 4496 + 17984  =  23604
3     35968    num2를 더해:  0 + 1124 + 4496 + 17984 + 35968  =  59572
1     71936    num2를 더해:  0 + 1124 + 4496 + 17984 + 35968 + 71936  =  131508
Result =  131508

In [25]:
'' + "+" + str("23")

'+23'

## dictionary { key1 : value1,  key2: value2, ... }
* dic1['key'] = values
* dic1.keys()
* del dic1['key'] 
* 입력방식  { k1:v1, k2:v2, ..., kN:vN , }  : ** 마지막 comma 추가 하기**

In [29]:
dict1 = {}
dict1['korean'] = 100
dict1

{'korean': 100}

In [30]:
dict2 = {'korean': 100, 
            'math': 80, 
            'science': [50, 45, 20, 15], 
        }
dict2

{'korean': 100, 'math': 80, 'science': [50, 45, 20, 15]}

In [31]:
dict2['history'] = 70
dict2

{'history': 70, 'korean': 100, 'math': 80, 'science': [50, 45, 20, 15]}

In [32]:
del dict2['history']
dict2

{'korean': 100, 'math': 80, 'science': [50, 45, 20, 15]}

In [34]:
dict2.keys()

dict_keys(['korean', 'science', 'math'])

# SET

In [35]:
A = 'fastcampus'
B = 'python'

In [36]:
set_A = set(A)
set_A

{'a', 'c', 'f', 'm', 'p', 's', 't', 'u'}

In [37]:
set_B = set(B)

In [39]:
set_A - set_B

{'a', 'c', 'f', 'm', 's', 'u'}

In [40]:
set_A | set_B

{'a', 'c', 'f', 'h', 'm', 'n', 'o', 'p', 's', 't', 'u', 'y'}

In [41]:
set_A & set_B

{'p', 't'}

In [42]:
set_A ^ set_B

{'a', 'c', 'f', 'h', 'm', 'n', 'o', 's', 'u', 'y'}

### Refactoring numguess

In [43]:
import random


answer = random.randint(1,1000)
username = input("Hi there, What's your name??")
trial = 5
while trial:
    guess = eval(input("hi, " + username + ". guess the number: "))
    
    if guess == answer:
        print("Correct! The answer waw ", str(answer))
        break

Hi there, What's your name??adkf
hi, adkf. guess the number: 5
hi, adkf. guess the number: a

NameError: name 'a' is not defined

# List Comprehension
* 존재하는 리스트를 활용하여 새로운 리스트를 생성하는 방법
* 비슷한 표현들
  - Set Comprehension
  - Dictionary Comprehension
  - Parallel list Comprehension

In [46]:
old_list = list(range(1,6))
old_list

[1, 2, 3, 4, 5]

In [48]:
doubled_list = []
for i in old_list:
    doubled_list.append(i*2)

doubled_list

[2, 4, 6, 8, 10]

In [49]:
doubled_list = [ i*2 for i in old_list]
doubled_list

[2, 4, 6, 8, 10]

In [52]:
old_list = [1, 2, 3, 4, 5,]

doubled_list = []
for i in old_list:
    if i % 2 == 0 :
        doubled_list.append(i*2)
doubled_list

[4, 8]

In [53]:
x2_list = [i *2 for i in old_list if i % 2 == 0]
x2_list

[4, 8]

In [54]:
for i in range(1, 100+1):
    if i % 15 == 0 : print("FizzBuzz")
    elif i % 3 == 0 : print("Fizz")
    elif i % 5 == 0 : print("Buzz")
    else: print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [67]:
# for i in range(1, 100+1):
#     if i % 15 == 0 : print("FizzBuzz")
#     elif i % 3 == 0 : print("Fizz")   ##  True : 1,  False : 0
#     elif i % 5 == 0 : print("Buzz")  ##  AND OR 연산
#     else: print(i)

# for i in range(1, 100 + 1):
#     if  (i%3 == 0) or (i%5 == 0):
#        print("Fizz"*(i%3==0) + "Buzz"*(i%5 == 0))
#    else: print(i)

# for i in range(1, 100 + 1):
#     print("Fizz"*(i%3==0) + "Buzz"*(i%5 == 0))  or  i 

[ ("Fizz" *(i%3 == 0) + "Buzz" * ( i%5 ==0) or i )  for i in range(1, 100+1) ]

[1,
 2,
 'Fizz',
 4,
 'Buzz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Buzz',
 11,
 'Fizz',
 13,
 14,
 'FizzBuzz',
 16,
 17,
 'Fizz',
 19,
 'Buzz',
 'Fizz',
 22,
 23,
 'Fizz',
 'Buzz',
 26,
 'Fizz',
 28,
 29,
 'FizzBuzz',
 31,
 32,
 'Fizz',
 34,
 'Buzz',
 'Fizz',
 37,
 38,
 'Fizz',
 'Buzz',
 41,
 'Fizz',
 43,
 44,
 'FizzBuzz',
 46,
 47,
 'Fizz',
 49,
 'Buzz',
 'Fizz',
 52,
 53,
 'Fizz',
 'Buzz',
 56,
 'Fizz',
 58,
 59,
 'FizzBuzz',
 61,
 62,
 'Fizz',
 64,
 'Buzz',
 'Fizz',
 67,
 68,
 'Fizz',
 'Buzz',
 71,
 'Fizz',
 73,
 74,
 'FizzBuzz',
 76,
 77,
 'Fizz',
 79,
 'Buzz',
 'Fizz',
 82,
 83,
 'Fizz',
 'Buzz',
 86,
 'Fizz',
 88,
 89,
 'FizzBuzz',
 91,
 92,
 'Fizz',
 94,
 'Buzz',
 'Fizz',
 97,
 98,
 'Fizz',
 'Buzz']

In [62]:
"Fizz" * (15 % 3 == 0) + "Buzz" * (15%5 == 0) + 15*()

'FizzBuzz'