# 어제의 숙제

In [1]:
r = 10
pi = 3.1415
d = r * 2
c = 2 * pi * r
a = pi * r * r
v = (4/3) * pi * r * r * r

print("radious =", r)
print("diameter =", d)
print("circumference =", c)
print("area =", a)
print("volume =", v)

radious = 10
diameter = 20
circumference = 62.830000000000005
area = 314.15000000000003
volume = 4188.666666666666

# Let's code PYTHONIC~!

## Important Python Enhance Proposal
### Layout
* 들여쓰기: 공백 4칸 또는 tab (섞어쓰면 안됨)
* 한 줄은 79자 (120자까지 상관없음)
* 클래스 정의와 최상위 함수는 두 줄을 띄움
* 클래스 내 메소드는 한 줄을 띄움

### Variables
* <mark><b>_variable </mark>:  내부적으로 사용되는 변수 
* <mark><b>print_ </b></mark> : ** 파이썬 키워드와 충돌방지**

### Naming Convention
* 클래스 이름은 CamelCase
* 함수, 변수, 메소드 이름은 snake_case

### 파이썬에서 쓰이지 않는 네이밍 규칙
* chHungarianNotation
* javaScriptStyleCamelCase

### typing casting

In [2]:
str(100)

'100'

In [3]:
int("100")

100

In [4]:
int(3.7)

3

### input

In [5]:
# user input

name = input("Hi, What is your name?")
print("Hi, "+ name + ", Nice to meet you.")

Hi, What is your name?Marry
Hi, Marry, Nice to meet you.

#### input with evaluate
* python 2.x의  raw_input(), input() :  data type의 일치가 필요함

In [7]:
# input with evaluation

input("How old are you? ")

How old are you? 12

'12'

In [9]:
eval(input("How old are you? "))

How old are you? 15

15

In [10]:
age = eval ( input("How old are you? "))
type(age)

How old are you? wh

NameError: name 'wh' is not defined

### String Formatting
%s - string <br/>
%c - character <br/>
%d - Integer <br/>
%f - floating-point <br/>
%o - 8진수(Octal) <br/>
%x - 16진수(hexadecimal) <br/>
%% - % <br/>

In [11]:
print("I have a %s, I have an %s." % ("pen", "apple"))

I have a pen, I have an apple.

In [14]:
#string formatting
pen = "pen"
apple = "apple"
pineapple = "pineapple"
print("I have a %9s, I have an %s."  %(pen, apple))
print("I have a %9s, I have a %s."  %(pineapple, pen))

I have a       pen, I have an apple.
I have a pineapple, I have an pen.

### string과 character의 차이
* string은 character들의 list
* index
<table>
 <tr> <td>p</td> <td>y</td> <td>t</td> <td>h</td> <td>o</td> <td>n</td> 
 </tr>
 <tr> <td> 0</td> <td>1 </td> <td> 2</td> <td>3 </td>  <td> 4</td> <td>5 </td>
 </tr>
 <tr> <td> - 6 </td> <td> -5</td> <td>-4 </td> <td>-3 </td>  <td> -2</td> <td> -1</td>
 </tr>
</table>

In [15]:
some_string = "python"
len(some_string)

6

In [17]:
some_string[3:5] , some_string[1:5:2] , some_string[::] , some_string[::-1]

('ho', 'yh', 'python', 'nohtyp')

In [18]:
some_string[:]

'python'

In [19]:
some_string[::] == some_string[0 : len(some_string) : 1 ]

True

### but, strings are  immutable
* string은  자료구조 상 list가 아니라 array이다. 
* string의 character를 바꾸기 위해서는 list로 변환한 후 바꿔야 한다. 
* **replace 함수**를 이용한다.

In [20]:
some_string[0] = "c"

TypeError: 'str' object does not support item assignment

In [22]:
list_string = list(some_string)
list_string[0] = "c"
list_string

['c', 'y', 't', 'h', 'o', 'n']

In [39]:
some_string.replace('p', 'c')

'cython'

### String Functions

In [24]:
func = "Python is easy programming language"

In [25]:
func.count("P")

1

In [26]:
func.count("p")

1

In [29]:
comma = "*"
commaed = comma.join('python')
commaed

'p*y*t*h*o*n'

In [31]:
commaed.split('*')

['p', 'y', 't', 'h', 'o', 'n']

In [36]:
personal_info = "홍길동 010-1234-5678 서울시"
splitted_info = personal_info.split(' ')
splitted_info

['홍길동', '010-1234-5678', '서울시']

In [38]:
phone = splitted_info[1].split('-')
phone

['010', '1234', '5678']

In [40]:
python_is_easy = "python is easy"
python_is_easy.split()

['python', 'is', 'easy']

In [41]:
python_is_easy.replace("python", "golang")

'golang is easy'

### List, Tuple
#### List
* 빈 list를 선언합니다. 선언과 동시에 값을 채워 넣을 수 있습니다. 

#### List에 요소를 추가하기

In [45]:
lang = []

In [46]:
lang.append("python")
lang

['python']

In [47]:
lang.append("java")
lang.append("golang")
print(lang)

['python', 'java', 'golang']

#### List의 특정 위치에 원하는 값을 추가하기

In [48]:
lang.insert(1, "C")
print(lang)

['python', 'C', 'java', 'golang']

#### List의 특정 요소를 삭제하기

In [50]:
lang.remove("golang")
print(lang)

['python', 'C', 'java']

#### List의 요소를 빼어내기 :  자료 구조는 stack

In [51]:
java = lang.pop(2)
print(lang)

['python', 'C']

#### List를 정렬하기

In [55]:
numbers = [3, 5, 1, 7, 2, 6, 11, 12, 13]
numbers.sort()
numbers

[1, 2, 3, 5, 6, 7, 11, 12, 13]

In [54]:
alphabet = ['c', 'd', 'a']
alphabet.sort()
alphabet

['a', 'c', 'd']

In [56]:
reverse_numbers = numbers[::-1]
reverse_numbers

[13, 12, 11, 7, 6, 5, 3, 2, 1]

In [61]:
numbers.reverse()
numbers

[13, 12, 11, 7, 6, 5, 3, 2, 1]

#### List에서 특정 값의 index를 출력하기

In [62]:
index_of_two = numbers.index(2)
print(index_of_two)

7

#### List 연산

In [63]:
numbers += [5,6]
print(numbers)

[13, 12, 11, 7, 6, 5, 3, 2, 1, 5, 6]

In [65]:
numbers.extend([100,200])
numbers

[13, 12, 11, 7, 6, 5, 3, 2, 1, 5, 6, 100, 200]

### tuple
* 괄호 ()를 이용하여 선언함
* **요소의 추가, 삭제를 할 수 없음**

In [66]:
tuple1 = (1,2,3,4)

In [67]:
del tuple[1]

TypeError: 'type' object does not support item deletion

In [68]:
tuple1[1] = 5

TypeError: 'tuple' object does not support item assignment

In [70]:
tuple2= (5,6)
print(tuple1 + tuple2)

(1, 2, 3, 4, 5, 6)

In [71]:
tuple2 * 11

(5, 6, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6)

### tuple은 값을 편하게 바꿀 수 있다.

In [74]:
x = 1
y = 38

In [75]:
tmp = x
x = y
y = tmp
x, y

(38, 1)

In [76]:
(x, y)

(38, 1)

In [77]:
(x, y) = (y, x)
x, y

(1, 38)

In [80]:
def quot_and_rem(x ,y):
    quot = x //y
    rem = x % y
    return quot, rem

In [81]:
quot_and_rem(3, 10)

(0, 3)

## 조건문

In [83]:
age = 21
location = "seoul"
if age < 19 and location == "seoul":
    print("you are teenager. and you live in seoul")

#### PYTHON은 flat을 지향하므로 다중 if ( 'else if')보다  elif 구문이 있음
* 속도를 위해서 빈도가 가장 큰 것에 관한 조건이 가장 먼저 나타나야 한다.

In [84]:
age = 30
if age < 19:
    print("under 19")
elif age < 50:
    print("under 50")
else:
    print("over 50")

under 50

In [85]:
import random

In [88]:
answer = random.randint(1, 100)
print(answer)

99

In [89]:
username = input("Hi there, What's your name?? ")
guess = eval( input( "Hi, " + username + "guess the number: "))

if guess == answer:
    print("Correct ! The answer was ", str(answer))
else:
    print("That's not what I wanted!! The answer was ", str(answer) )

Hi there, What's your name?? Mary
Hi, Maryguess the number: 24
That's not what I wanted!! The answer was  99

## for, while
for  변수  in (리스트 or 문자열) :

In [90]:
for lang in ["python", "java", "golang"]:
    print(lang)

python
java
golang

In [91]:
sum = 0 
for i in range(1,10+1):
    sum = sum + i 
print(sum)

55

In [92]:
while name != "break":
    name = input("What is your name?")
    print("Hello, " + name + ".")

What is your name?mary
Hello, mary.
What is your name?Mary
Hello, Mary.
What is your name?Don
Hello, Don.
What is your name?jj
Hello, jj.
What is your name?break
Hello, break.

### Fizzbuzz

In [96]:
for i in range(1,100+1):
    if i % 15 == 0:  print("FizzBuzz")
    elif i % 3 == 0 : print("Fizz")
    elif i % 5 == 0:  print("Buzz")
    else: print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

### Monty Hall Problem

In [120]:
import random

sum = 0;
for i in range(1000):
    doors = ["car","lamb", "lamb"]
    random.shuffle(doors)
    choice = random.randrange(3) 
        
    if doors[choice] == "car":
        sum = sum + 1
    
rate = sum/1000
print('sum', sum)
print("rate", rate)

sum 330
rate 0.33